/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato";
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.ttf');
}

.wrapper {
  background: rgba(242, 247, 255, 0.5);
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1110px;

  @media (max-width: 1439px) {
    width: 77%;
  }

  @media (max-width: 1024px) {
    width: 86%;
  }
}

// Header section

.header {

  @media (max-width: 1070px) {
    margin-bottom: 15px;
  }

  &__in {
    justify-content: space-between;
    padding-top: 34px;
  }

  &__logo {
    display: flex;
    gap: 2px;

    h3 {
      padding-top: 10px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 21px;
      color: #1D2530;
      cursor: pointer;

      @media (max-width: 1024px) {
        font-size: 26px;
      }
    }
  }

  &__img {
    max-width: 55px;
    max-height: 40px;
  }

  &__menu {
    padding-top: 10px;

    ul {
      display: flex;
      justify-content: end;
      // gap: 5.7%;
      gap: 63px;

      li {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #1D2530;
        cursor: pointer;

        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }
}

// Hero section

.hero {
  margin-bottom: 121px;

  &__in {
    display: flex;
    justify-content: space-between;
    margin-top: -510px;

    @media (max-width:1380px) {
      margin-top: -480px;
    }

    @media (max-width:1300px) {
      margin-top: -440px;
    }

    @media (max-width:1220px) {
      margin-top: -400px;
    }

    @media (max-width:1120px) {
      margin-top: -370px;
    }

    @media (max-width:986px) {
      margin-top: -350px;
    }

    @media (max-width:935px) {
      margin-top: -320px;
    }

    @media (max-width:860px) {
      margin-top: -305px;
    }

    @media (max-width:820px) {
      margin-top: -300px;
    }
  }

  &__bg {
    max-width: 1440px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &__description {
    max-width: 700px;
    margin-top: 20px;

    @media (max-width: 1439px) {
      margin: 0;
    }
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #685ED6;
    margin-bottom: 24px;
    max-width: 380px;
    cursor: pointer;

    span {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      color: black;
      white-space: nowrap;
    }

    @media (max-width: 1439px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 56px;
      color: #685ED6;
      margin-bottom: 20px;
      max-width: 380px;

      span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 46px;
        line-height: 56px;
        color: black;
        white-space: nowrap;
      }
    }

    @media (max-width: 1024px) {
      font-size: 37px;
      line-height: 45px;

      span {
        font-size: 37px;
        line-height: 45px;
      }
    }
  }

  &__subtitle {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #1D2530;
    margin-bottom: 32px;
    max-width: 490px;

    @media (max-width: 1439px) {
      font-family: 'Gilroy-Light';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 31px;
      color: #1D2530;
      margin-bottom: 26px;
      max-width: 490px;
    }

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 22px;
    }
  }

  &__text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #685ED6;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__btn {
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    max-width: 168px;
    
    h5 {
      padding: 12px 32px;
      color: white;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__btn:hover {
    background: #33AFE1;
    padding: 3px;
  }

  &__btn:active {
    background: #18E1F7;
    padding: 0;
  }

  &__purple {
    position: absolute;
    left: -10px;
    bottom: -40px;
    // filter: drop-shadow(1px 1px 315px rgb(218, 25, 25));
    // box-shadow: 55px 55px 55px rgba(192, 14, 118, 0.4);
    // filter: drop-shadow(25px 55px 155px rgba(223, 48, 25, 0.4));
    // background: rgba(140, 48, 245, 0.4);
    transform: rotate(30deg);
    // opacity: 0.1;

    img {
      max-width: 100px;
      max-height: 72px;
      // box-shadow: 0 0 50px black;
      // filter: drop-shadow(1px 1px 315px rgb(218, 25, 25));
    }
  }

  &__image {
    max-width: 690px;
    min-width: 500px;
    max-height: 555px;

    img {
      width: 100%;
    }

    @media (max-width: 1024px) {
      max-width: 690px;
      min-width: 410px;
      max-height: 555px;
    }
  }
}

// Messenger section

.messenger {
  margin-bottom: 73px;

  &__in {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;

    @media (max-width: 1439px) {
      padding-right: 3%;
    }
  }

  &__description {
    max-width: 490px;

    @media (max-width: 1439px) {
      width: 470px;
      padding-right: 20px;
    }
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
    color: #1D2530;
    margin-bottom: 68px;

    @media (max-width: 1439px) {
      white-space: nowrap;
      font-size: calc(.2vw + 2.7rem);
    }

    @media (max-width: 1024px) {
      white-space: nowrap;
      font-size: calc(.2vw + 2.2rem);
    }
  }

  &__menu {
    display: flex;
    margin-bottom: 49px;
    gap: 29px;

    @media (max-width: 1439px) {
      gap: 24px;
    }
  }

  &__image {
    max-width: 62px;
    max-height: 62px;

    img {
      max-width: 62px;
    }

    @media (max-width: 1439px) {
      max-width: 58px;
      max-height: 58px;

      img {
        max-width: 58px;
        max-height: 58px;
      }
    }

    @media (max-width: 1024px) {
      max-width: 53px;
      max-height: 53px;

      img {
        max-width: 53px;
        max-height: 53px;
      }
    }
  }

  &__text {

    h6 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #1D2530;
      margin-bottom: 8px;

      @media (max-width: 1439px) {
        font-size: 21px;
        line-height: 31px;
        margin-bottom: 8px;
      }

      @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 6px;
      }
    }

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #1D2530;

      @media (max-width: 1439px) {
        font-size: 14px;
        line-height: 23px;
      }

      @media (max-width: 1024px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__phone {
    width: 411px;
    height: 666px;

    img {
      width: 411px;
    }

    @media (max-width: 1439px) {
      width: 400px;

      img {
        width: 400px;
        max-height: 655px;
      }
    }

    @media (max-width: 1024px) {
      width: 330px;

      img {
        width: 330px;
        max-height: 655px;
      }
    }
  }
}


// Pockets section

.pockets {
  padding: 110px 0 0;
  background: #ffffff;

  &__in {
    display: block;
  }

  // .swiper {
  //   display: block;

  //   .swiper-slide {
  //     display: block;
  //   }
  // }

  // @media (max-width: 1024px) {
  //   .swiper {
  //     display: none;
  //   }
  // }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 16px;

    @media (max-width: 1439px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 42px;
      line-height: 60px;
      text-align: center;
      color: #1D2530;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #1D2530;
    margin-bottom: 40px;
    text-align: center;
  }

  &__cards {
    display: flex;
    gap: 30px;

    overflow-x: auto;


    @media (max-width: 1439px) {
      gap: 27px;
      overflow-x: auto;

    }
  }

  &__card {
    width: 31.53%;
    max-height: 387px;
    background: #FCFEFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;



    min-width: 250px;

    @media (max-width: 1439px) {
      min-width: 250px;
    }

    @media (max-width: 1024px) {
      min-width: 290px;
    }
  }

  &__cards::-webkit-scrollbar {
    width: 0;
  }

  &__types {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    color: #685ED6;
    width: 100%;
    padding: 7px;
    margin-bottom: 40px;
    text-align: center;
    background: rgba(104, 94, 214, 0.05); 

    @media (max-width: 1439px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      line-height: 43px;
      color: #685ED6;
      width: 100%;
      padding: 7px;
      margin-bottom: 38px;
      text-align: center;
      background: rgba(104, 94, 214, 0.05); 
    }
  }

  &__info {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 32px;
    max-width: 255px;
    max-height: 80px;

    @media (max-width: 1439px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 36px;
      text-align: center;
      color: #1D2530;
      margin-bottom: 30px;
      max-width: 230px;
      max-height: 80px;
    }
  }

  &__text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 46px;

    @media (max-width: 1439px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 28px;
      text-align: center;
      color: #1D2530;
      margin-bottom: 44px;
    }
  }

  &__btn {
    padding: 12px 0;
    text-align: center;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    width: 82%;
    height: 48px;
    margin-bottom: 50px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
    }

    @media (max-width: 1439px) {
      padding: 12px 0;
      text-align: center;
      background: #685ED6;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
      border-radius: 6px;
      width: 80%;
      height: 48px;
      margin-bottom: 46px;
    }
  }

  &__btn:hover {
    background: #33AFE1;
    padding: 14px 0;
  }

  &__btn:active {
    background: #18E1F7;
    padding: 12px;
  }
}


// Phones section

.phones {
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 64%,
    rgba(242, 247, 255, 0.5) 36%,
    rgba(242, 247, 255, 0.5) 100%,
  );
  // background-image: url(/img/Rectangle\ 594.png);
  background-repeat: no-repeat;
  background-color: #fff;
  padding-top: 100px;
  margin-bottom: 235px;

  &__top {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__in {
    position: relative;
    display: block;
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    color: #1D2530;
    text-align: center;
    margin-bottom: 54px;

    @media (max-width: 1439px) {
      font-size: 42px;
      line-height: 60px;
    }
  }

  &__decoration {
    width: 100%;
    // position: absolute;

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: -200px;
    position: relative;

    @media (max-width: 1164px) {
      display: flex;
      gap: 5.7%;
      margin-top: -185px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    // margin-bottom: -50px;
  }

  &__circle {
    width: 72px;
    height: 72px;
    background: #F1E4FF;
    border-radius: 100px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    h6 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #685ED6;
    }
  }

  &__circle2 {
    width: 76px;
    height: 76px;
    background: #F1E4FF;
    border-radius: 100px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    h6 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #685ED6;
    }
  }

  &__text {
    margin-bottom: 4px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #1D2530;
    }
  }

  &__text2 {
    margin-bottom: 4px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      color: #1D2530;
    }
  }

  &__subtext {
    max-width: 255px;
    margin-bottom: 58px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      text-align: center;
      color: #1D2530;
    }

    span {
      white-space: nowrap;
    }
  }

  &__subtext2 {
    max-width: 269px;
    margin-bottom: 29px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #1D2530;
    }
  }

  &__image {
    max-width: 210px;
    max-height: 445px;

    img {
      width: 100%;
    }
  }

  &__image2 {
    max-width: 265px;
    max-height: 543px;

    img {
      width: 100%;
    }
  }

  &__bg {
    width: 100%;
    margin-top: -420px;
    max-height: 325px;

    img {
      width: 100%;
    }
  }
}


// Clients section 


.clients {
  margin-bottom: 100px;

  &__position {
    position: relative;
    display: block;
  }

  &__decoration {
    position: absolute;
    top: -15px;
    right: 0;

    img {
      width: 142px;
      height: 121px;
      // transform: rotate(180deg);
    }

    @media (max-width: 1439px) {

      img {
        width: 130px;
        height: 103px;
      }
    }
  }

  &__in {
    padding: 40px 0;
  }

  &__box {
    margin: 0 0 50px;
    overflow: hidden;
    padding: 5px;
    // padding: 0 1%;
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    color: #1D2530;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: 2px;

    @media (max-width: 1439px) {
      font-size: 42px;
      line-height: 60px;
      margin-bottom: 47px;
      letter-spacing: 2px;
    }
  }

  &__card {
    border-radius: 8px;
    min-width: 530px;
  }
  
  &__desc {
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    max-width: 540px;
    text-align: center;
    margin-bottom: 28px;
    padding: 32px 32px 56px;
    box-shadow: 2px 8px 6px rgb(230, 230, 230);

    h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #18191F;
      margin-bottom: 8px;
    }

    p {
      margin: 0 auto;
      max-width: 476px;
      max-height: 96px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #18191F;
    }

    img {
      width: 25px;
      position: absolute;
      bottom: -15px;
      filter: drop-shadow(2px 8px 6px rgb(230, 230, 230));
    }
  }


  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
  }

  &__image {
    width: 56px;
    height: 56px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #1D2530;
  }

  &__job {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1D2530;
  }

  // .swiper-navBtn {
  //   color: #000;
  //   height: 40px;
  //   width: 40px;
  //   background: #fff;
  //   border-radius: 50%;
  // }

  // .swiper-navBtn::before,
  // .swiper-navBtn::after {
  //   font-size: 18px;
  // }

  .swiper-pagination-bullet {
    background-color:#685ED6;
    border: 1px solid #685ED6;
    width: 12px;
    height: 12px;
  }

  @media (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }

}

// Register section 

.register {
  padding: 90px 0;
  background: #ffffff;

  &__in {
    position: relative;
    background: #685ED6;
    padding: 18px 187px 0 110px;
    border-radius: 6px;

    @media (max-width: 1439px) {
      padding: 18px 187px 0 90px;
    }

    @media (max-width: 1170px) {
      padding: 18px 187px 0 50px;
    }
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 1439px) {
      max-width: 800px;
    }
  }

  &__image {
    max-width: 314px;
    // width: 28.28%;
    // margin-left: 9%;
    max-height: 271px;

    img {
      max-width: 314px;
      // width: 100%;
    }
  }

  &__info {
    // padding: 30px 0 74px 115px;
    margin: 3.5% 0 0 12%;

    @media (max-width: 1160px) {
      margin: 3.5% 0 0 7%;
    }
  }

  &__title {

    h5 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 41px;
      color: #FFFFFF;
      margin-bottom: 32px;
    }

    span {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 41px;
      color: #FFFFFF;
      margin-bottom: 32px;
      white-space: nowrap;
    }
  }

  &__place {
    display: flex;
  }

  &__input {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #474A57;
    padding: 14px 16px;
    border-radius: 5px 0px 0px 5px;
  }

  &__btn {
    max-width: 120px;
    background: #18191F;
    border-radius: 0px 5px 5px 0px;
    padding: 14px 22px;

    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      color: #FFFFFF;
      text-align: center;
    }
  }

  &__btn:hover {
    background: #404249;
    padding: 14px 25px;
  }

  &__btn:active {
    background: #18191F;
    padding: 14px 25px;
  }

  &__btn:hover p {
    font-size: 14.5px;
  }

  &__vector {
    position: absolute;
    top: 0;
    right: 0;
    width: 76%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Footer section

.footer {
  padding: 111px 0 66px;
  background: #1D2530;

  &__logo {
    margin-right: 35%;

    h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 24px;
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  &__img {
    max-width: 81px;
    max-height: 59px;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }

  &__info {
    width: 100%;
    margin-right: 14%;

    h4 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #F4F5F7;
      margin-bottom: 32px;
      white-space: nowrap;
      cursor: pointer;
    }

    ul {

      li {
        font-family: 'Gilroy-Light';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #EEEFF4;
        margin-bottom: 12px;
        cursor: pointer;
      }
    }
  }
}

// All section

.all {
  padding: 25px 0;
  background: #141B23;

  p {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    cursor: pointer;
  }
}
